.hero-link {
  @extend %link;
  @extend %button;

  border: 2px solid map-get($colors, primary-light);
  line-height: 36px;
  margin: 0 auto;
  transition: color 0.5 linear;
  transition: border 0.5 linear;

  &:hover,
  &:focus {
    transition: color 0.5 linear;
    transition: border 0.5 linear;
    color: map-get($colors, accent);
    border-color: map-get($colors, accent);
  }
}
