.page-nav {
  @extend %list;

  margin-bottom: 182px;
}

.page-nav-menu-list {
  @extend %list;

  flex: 0 0 500px;
  margin-left: auto;
  margin-right: 50px;
}

.page-nav-user-nav {
  @extend %list;

  flex: 0 0 80px;
}

.page-nav-menu-link {
  @extend %link;

  font-weight: 400;
  transition: color 0.5 linear;

  &:hover,
  &:focus {
    transition: color 0.5 linear;
    color: map-get($colors, accent);
  }

  &::after {
    @extend %psevdoelement;

    height: 3px;
    background-color: map-get($colors, accent);
    margin: auto;
    margin-top: 5px;
    opacity: 0;
    transition: opasity 0.5 linear;
  }

  &:hover::after,
  &:focus::after {
    transition: opasity 0.5 linear;
    opacity: 1;
  }
}

.user-nav-icon {
  @include size(18px, 18px);

  fill: map-get($colors, primery-light);
  transition: fill 0.5 linear;

  &:hover,
  &:focus {
    transition: fill 0.5 linear;
    fill: map-get($colors, accent);
  }
}

.icon {
  @include size(32px, 32px);
}
