.header-page {
  margin: 0;
  background-image:

    linear-gradient(
      rgba(map-get($colors, secondary-dark), 0.9),
      rgba(map-get($colors, accent), 0.9)),
    url('../images/banner-min.jpg');
  background-position: center;
  background-size: cover;
  padding-bottom: 230px;

  @media (min-resolution: 192dpi), (min-resolution: 2dppx) {
    background-image:

      linear-gradient(
        rgba(map-get($colors, secondary-dark), 0.9),
        rgba(map-get($colors, secondary-light), 0.9)),
      url('../images/banner@2x-min.jpg');
  }
}

.hero-title {
  font-size: 72px;
  color: map-get($colors, primery-light);
  line-height: 86px;
  margin-bottom: 60px;
}

.hero-subtitle {
  font-size: 150px;
  color: map-get($colors, primery-light);
  line-height: 140px;
  width: 800px;
  margin-bottom: 125px;
}
